{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Oulipo: Story Generator</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="{% static 'oulipo/css/bootstrap.min.css' %}">
 <link rel="stylesheet" href="{% static 'oulipo/css/gabrastorika.css' %}">
<script src="{% static 'oulipo/js/jquery.min.js' %}"></script>
<script src="{% static 'oulipo/js/bootstrap.min.js' %}"></script>
<script src="{% static 'oulipo/js/cursor.js' %}"></script>

</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<span class="navbar-brand"><a href="/oulipo">Oulipo</a></span>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/oulipo/about/">About</a></li>
				</ul>
				<ul class="nav navbar-nav" style="float: right">
					<li><a href="/admin">
					<span class="glyphicon glyphicon-lock"></span>Administration</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container" role="main">
	{% block body_block %}
	{% endblock %}
	</div>
	
</body>